<div class="container">
    <h1>Create new Device</h1>
    <a href="#" routerLink="/device/index" class="btn btn-primary">Back</a>
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="description">Description:</label>
            <input 
                formControldescription="description"
                id="description" 
                type="text" 
                class="form-control">
            <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                <div *ngIf="f['description'].errors && f['description'].errors['required']">Description is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea 
                formControlName="address"
                id="address" 
                type="text" 
                class="form-control">
            </textarea>
            <div *ngIf="f['address'].touched && f['address'].invalid" class="alert alert-danger">
                <div *ngIf="f['address'].errors && f['address'].errors['required']">Address is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="maxEnergyConsumption">Maximum energy cpnsumption</label>
            <textarea 
                formControlName="maxEnergyConsumption"
                id="maxEnergyConsumption" 
                type="text" 
                class="form-control">
            </textarea>
            <div *ngIf="f['maxEnergyConsumption'].touched && f['maxEnergyConsumption'].invalid" class="alert alert-danger">
                <div *ngIf="f['maxEnergyConsumption'].errors && f['maxEnergyConsumption'].errors['required']">maxEnergyConsumption is required.</div>
            </div>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>