<div class="container">
    <h1>Device Details</h1>
    <a href="#" routerLink="/device/index" class="btn btn-primary">Back</a>
    <div>
        <strong>ID:</strong>
        <p>{{device.id}}</p>
    </div>
    <div>
        <strong>Description:</strong>
        <p>{{device.description}}</p>
    </div>
    <div>
        <strong>Address:</strong>
        <p>{{device.address}}</p>
    </div>
    <div>
        <strong>Maximum energy consumption:</strong>
        <p>{{device.maxEnergyConsumption}}</p>
    </div>
</div>
